<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155181950-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155181950-1');
</script>

  </head>

<body>
<nav>
<a href="/">Home</a>&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/Education">Education</a>&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/Presentations">Presentations</a>&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/Contact me">Contact me</a>

</nav>
<div class="container">

  {{ content }}

</div>
  </body>

</html>
